services:
  thaurus-app:
    build: .
    image: jefiroo/thaurus_cnc:latest
    container_name: thaurus-api
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    volumes:
      - ./uploads:/uploads
    healthcheck:
      test: ["CMD-SHELL", "timeout 5s bash -c '< /dev/tcp/31.97.165.102/1000' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 5s